<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dallmann Asset-Management</title>
    <link rel="stylesheet" href="css/headFootDesign.css">
    <link rel="stylesheet" href="css/booking.css">
    <link rel="icon" type="image/x-icon" href="https://www.dallmann-bau.de/fileadmin/template/favicon.png">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <script
            src="https://code.jquery.com/jquery-3.5.1.js"
            integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


</head>
<body>
<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->
<main>
    <br>
    <br>
    <div id="form">
        <% if (inventoryNumber === ""){ %>
            <h3>Geräte reservieren: </h3>
        <% } else{ %>
        <h3>Geräte <span><%=inventoryNumber %></span> reservieren:</h3>
        <% } %>
        <form method="post" action="/book">
            <% if (inventoryNumber=== ""){ %>
                <div class="form-group">

                    <div class="form-row">

                        <div class="col">

                            <div class="md-form mt-0">

                                <label for="deviceNumber">Gerätenummer</label>
                                <input type="number" class="form-control" id="deviceNumber" name="Gerätenummer"
                                       placeholder="1234678">
                            </div>
                        </div>
                    </div>
                </div>


                <!--<label for="booking">Die Verfügbarkeit des Gerätes wird beim Reservieren überprüft:</label>-->

            <% } else { %>
                <div class="form-group">

                    <div class="form-row">

                        <div class="col">

                            <div class="md-form mt-0">
                                <label for="deviceNumber">Gerätenummer:</label>
                                <input type="number" class="form-control" id="deviceNumber" name="Gerätenummer"
                                       value="<%= inventoryNumber %>" readonly>

                            </div>
                        </div>
                    </div>
                </div>

            <% } %>
            <div class="form-group">

                <div class="form-row">

                    <div class="col">

                          <div class="md-form mt-0">
                            <label for="booking-start">Zeitraum der Reservierung wählen:</label>
                            <input type="text" class="form-control" id="booking_start" name="booking_start" min="" max="<%= maxDate%>"  required>

                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" id="submit" class="btn btn-outline-primary" >Reservieren<i class="far fa-calendar-plus"></i></button>

        </form>
    </div>
</main>
<%- include('../Views/general/footer.ejs'); -%>


<script src="javascript/booking.js"></script>
