<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dallmann Asset-Management</title>
    <link rel="stylesheet" href="css/headFootDesign.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/historie.css">
    <script src="javascript/sortTable.js"></script>
    <script src="javascript/historie.js"></script>
    <!-- TODO den hiddeninput zu session ergänzen -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>

<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->
<div id="historycontent">
    <div id="menu-caption">
        <h1>Standorthistorie für das Gerät: <%= geraetenummer %> </h1>
    </div>


    <!-- Sortieren/java.Filter Start -->
    <div id="select">
        <p>
            <select class="browser-default custom-select" id="sort"
                    onchange="getSelectedOption()" style="width: 50%">
                <option value="0" selected disabled>Sortieren nach</option>
                <option value="1">Datum</option>
                <option value="2">BaustellenID</option>
                <option value="3">BaustellenBez.</option>
                <option value="4">akuteller Standort</option>
                <option value="5">vorheriger Standort</option>
            </select>
        </p>
    </div>

    <!-- Sortieren/java.Filter Ende -->

    <table id="table">
        <thead>
        <tr>
            <th onclick="sortTable(1)">Datum</th>
            <!-- <th onclick="sortTable(2)">Baustellen ID</th>
             <th onclick="sortTable(3)">Baustellen Bezeichnung</th>
             <th onclick="sortTable(4)">Standort</th>
             <th onclick="sortTable(5)">vorheriger<br> Standort</th>-->
            <th style="text-align: center">Karte</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < datum.length;i++) { %>
            <tr>
                <td><%= datum[i] %></td>
                <input id="longitude<%=i%>" type="hidden"
                       value="<%=longitude[i]%>">
                <input id="latitude<%=i%>" type="hidden"
                       value="<%=latitude[i]%>">
                <td></td>
            </tr>
        <% } %>

        </tbody>

    </table>

</div>
<div id="historyMap">
    <iframe width="" height="500" src=""
            style='height:500px;width:100%;'></iframe>
</div>


<%- include('../Views/general/footer.ejs'); -%>
</body>
</html>