<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Dallmann Asset-Management</title>
    <link rel="stylesheet" href="css/headFootDesign.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="css/historie.css">
    <script src="javascript/sortTable.js"></script>
    <script src="javascript/historie.js"></script>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>

<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->
<div id="historycontent">
    <div id="menu-caption">
        <h1>Standorthistorie für das Gerät: <%= inventoryNumber %> </h1>
    </div>


    <!-- Sortieren/java.Filter Start -->
    <div id="select">
        <p>
            <select class="browser-default custom-select" id="sort"
                    onchange="getSelectedOption()">
                <option value="0" selected disabled>Sortieren nach</option>
                <option value="1">Datum</option>
                <option value="2">BaustellenID</option>
                <option value="3">BaustellenBez.</option>
                <option value="4">akuteller Standort</option>
                <option value="5">vorheriger Standort</option>
            </select>
        </p>
    </div>

    <!-- Sortieren/java.Filter Ende -->

    <table id="table">
        <thead>
        <tr>
            <th onclick="sortTable(1)">Datum</th>
            <th onclick="sortTable(1)">Modell</th>
            <th onclick="sortTable(1)">Hersteller</th>
            <th onclick="sortTable(1)">Seriennummer</th>
            <th onclick="sortTable(1)">Garantie</th>
            <th onclick="sortTable(1)">Notiz</th>
            <th onclick="sortTable(1)">Status</th>
            <th onclick="sortTable(1)">Kategorie/th>
            <th onclick="sortTable(1)">TÜV</th>
            <th onclick="sortTable(1)">UVV</th>
            <th onclick="sortTable(1)">Reparatur</th>
            <th onclick="sortTable(1)">ReparaturNotiz</th>
            <th onclick="sortTable(1)">BaustellenId</th>
            <th onclick="sortTable(1)">BaustellenName</th>
            <th>Karte</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < data.length;i++) { %>
            <tr>
                <td><%= data[i].lastChance %></td>
                <input id="longitude<%=i%>" type="hidden"
                       value="<%=data[i].longitude%>">
                <input id="latitude<%=i%>" type="hidden"
                       value="<%=data[i].latitude%>">
                <td><%= data[i].model %></td>
                <td><%= data[i].manufacturer %></td>
                <td><%= data[i].serialNumber %></td>
                <td><%= data[i].guarantee %></td>
                <td><%= data[i].note %></td>
                <td><%= data[i].statusDescription %></td>
                <td><%= data[i].category %></td>
                <td><%= data[i].lastTuev %></td>
                <td><%= data[i].lastUvv %></td>
                <td><%= data[i].lastRepair %></td>
                <td><%= data[i].repairNote %></td>
                <td><%= data[i].projectId %></td>
                <td><%= data[i].buildingSite %></td>
                <td></td>
            </tr>
        <% } %>

        </tbody>

    </table>

</div>
<div id="historyMap">
    <iframe width="" height="500" src=""
            style='height:500px;width:100%;'></iframe>
</div>


<%- include('../Views/general/footer.ejs'); -%>
</body>
</html>