<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Willkommen zurück</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/startseite.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/headFootDesign.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/table.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <script src="javascript/sortTable.js"></script>
</head>
<body>
<!-- NavigationBar & Footer Import -->
<%- include('../Views/header.ejs'); -%>


<!-- NavigationBar & Footer Import -->

<div id="main">
    <span>
    <div id="overview">
        <div id="overview-box">
            <a href="home" style="text-decoration: none; color: #0d0d0d">
                <h3>bereits hinzugefügte</br> Geräte</h3>
                <p>4000</p>
                <i class="fas fa-list-ol fa-3x"></i>

                <div id="link-box">
                                <a href="home">Geräte anzeigen
                                    <i class="fas fa-chevron-circle-right"></i>
                                </a>
                </div>
            </a>
        </div>
    </div>

    <div id="overview">
        <div id="overview-box1">
            <a href="home" style="text-decoration: none; color: #0d0d0d">
                <h3>kürzlich</br> hinzugefügt</h3>
                <p>Bohrmaschine</p>
                <i class="fas fa-briefcase fa-3x"></i>
                <div id="link-box1">
                    <a href="home">Geräte anzeigen
                        <i class="fas fa-chevron-circle-right"></i>
                    </a>
                </div>
            </a>
        </div>
    </div>

    <div id="overview">
        <div id="overview-box2">
            <a href="home" style="text-decoration: none; color: #0d0d0d">
                <h3>Anzahl Reservierungen</br> (insges.)</h3>
                <p>400</p>
                <i class="fas fa-calendar-alt fa-3x"></i>

                <div id="link-box2">
                    <a href="home">Geräte anzeigen
                        <i class="fas fa-chevron-circle-right"></i>
                    </a>

                </div>
            </a>
        </div>
    </div>
    </span>
    <hr class="clear">
  <br>
    <table style= "width:80%;margin-left: 10%">
        <thead >
        <tr >
            <th>Nr.</th>
            <th>Inventarnummer</th>
            <th>Produktbezeichnung</th>
            <th>Kategorie</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% for (var i = 0; i < nr.length;i++) { %>
            <tr>
                <td><%= nr[i] %></td>
                <td><%= invNumber[i] %></td>
                <td><%= model[i] %></td>
                <td><%= deviceCategory[i] %></td>
                <td><%= status[i] %></td>
            </tr>
        <% } %>
        </tbody>

    </table>

</div>

<!-- Inhalt Ende / Footer Start -->
<%- include('../Views/footer.ejs'); -%>

</body>
</html>

