<!DOCTYPE html>
<html lang="en">
<head>
    <! //TODO ab hier css aus html entfernen -->
    <link rel="stylesheet" href="css/deviceManagement.css">
    <link rel="stylesheet" href="css/headFootDesign.css">
    <link rel="stylesheet" href="css/table.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" type="text/css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!--<script src="javascript/userManagement.js"></script>-->

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
            integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
            crossorigin=""></script>


    <!-- Load Esri Leaflet from CDN -->
    <script src="https://unpkg.com/esri-leaflet@2.2.3/dist/esri-leaflet.js"
            integrity="sha512-YZ6b5bXRVwipfqul5krehD9qlbJzc6KOGXYsDjU9HHXW2gK57xmWl2gU6nAegiErAqFXhygKIsWPKbjLPXVb2g=="
            crossorigin=""></script>


    <!-- Load Esri Leaflet Geocoder from CDN -->
    <link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.css"
          integrity="sha512-v5YmWLm8KqAAmg5808pETiccEohtt8rPVMGQ1jA6jqkWVydV5Cuz3nJ9fQ7ittSxvuqsvI9RSGfVoKPaAJZ/AQ=="
          crossorigin="">
    <script src="https://unpkg.com/esri-leaflet-geocoder@2.2.13/dist/esri-leaflet-geocoder.js"
            integrity="sha512-zdT4Pc2tIrc6uoYly2Wp8jh6EPEWaveqqD3sT0lf5yei19BC1WulGuh5CesB0ldBKZieKGD7Qyf/G0jdSe016A=="
            crossorigin=""></script>


    <link rel="icon" type="image/x-icon"
          href="https://www.dallmann-bau.de/fileadmin/template/favicon.png">

    <title>Dallmann Asset-Management</title>

</head>
<body>
<!-- NavigationBar Start -->
<%- include('../Views/general/header.ejs'); -%>
<!--Nav Ende -->

<br>
<div class="outerBox">
    <div class="wrapper">

        <div class="content" style="overflow-x: auto">
            <h3>Geräteliste</h3>
            <div>
                <div class="newDeviceWrapper">
                    <% if (rights.add_device === 1){ %>
                        <form class="form" method="get" action="/addDevice">
                            <!--onclick="addDeviceWindow()"-->

                            <button class="btn btn-outline-warning" id="btn-newDevice" class="header_button" style="color: #666 !important;
    border: none !important">Neues Gerät hinzufügen
                                <i class="fa fa-toolbox"></i>
                            </button>
                        </form>
                    <% } %>
                </div>
                <div class="toggle-title" style="text-align: right;float: left">
                    <button class="btn btn-outline-warning" id="btn-filter" class="header_button">Filtern
                        <i class="fas fa-filter"></i>
                    </button>
                </div>


                <div class="toggle-inner">
                    <br>
                    <hr>
                    <div class="filterWrapper">
                        <label class="box-a">Inventarnummer</label>
                        <label class="box-b">Kategorie</label>
                        <label class="box-c">Status</label>

                        <form method="post" action="/searchInventoryNumber">


                        <input class="form-control input-a" name="inventoryNumber" type="text"
                               placeholder="Nach Inventarnummer suchen"
                               onchange="this.form.submit()">
                        </form>

                        <form method="post" action="/searchCategory">
                            <select class="browser-default custom-select
                            form-control input-b" id="category" name="category"
                                    onchange="this.form.submit()">
                                <option value="0" selected disabled>Kategorie zuordnen</option>
                                <option value="Rüttelplatten">Rüttelplatten</option>
                                <option value="Stampfer">Stampfer</option>
                                <option value="Motorflex">Motorflex</option>
                                <option value="Rohrgreifer">Rohrgreifer</option>
                                <option value="Kettensäge">Kettensäge</option>
                                <option value="Motorhammer">Motorhammer</option>
                                <option value="Leiter">Leiter</option>
                                <option value="Exoten">Exoten</option>
                            </select>
                        </form>

                        <form method="post" action="/searchStatus">
                        <select class="browser-default custom-select form-contro input-cl" id="sort"
                                onchange="this.form.submit()" name="status"
                                style="width:
                                100%;
                                display:
                                inline-block">
                            <option value="0" selected disabled>Status festlegen/ändern</option>
                            <option value="1">Verfügbar</option>
                            <option value="2">Ausgeliehen</option>
                            <option value="3">In Wartung</option>
                            <option value="4">Außer Betrieb</option>
                            <option value="5">Verschollen/Verschwunden</option>
                            <option value="6">Gestohlen</option>
                        </select>
                        </form>
                    </div>
                    <hr>
                </div>

                <div class="newDeviceWrapper">

                    <form class="form" method="get" action="/devices">
                        <!--onclick="addDeviceWindow()"-->

                        <button class="btn btn-outline-warning" id="btn-newDevice" class="header_button" style="color: #666 !important;
    border: none !important">Alle Geräte anzeigen
                            <i class="fa fa-toolbox"></i>
                        </button>
                    </form>
                </div>


            </div>
            <table style="width: 100%" class="table user-list"
                   onload>
                <thead>
                <tr>
                    <th>Inventarnummer</th>
                    <th>Kategorie</th>
                    <th>Modell</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody id="deviceContent">
                <% for (var i = 0;i < data.length;i++){ %>
                    <tr onclick="loadData(<%= i %>);">

                        <td id="tr<%= i %>td1"><%= data[i].inventoryNumber %></td>
                        <td id="tr<%= i %>td2"><%= data[i].category %></td>
                        <td id="tr<%= i %>td3"><%= data[i].model %></td>
                        <td id="tr<%= i %>td4"><%= data[i].statusDescription %></td>

                        <td id="tr<%= i %>serialNumber"
                            class="hiddendeviceInfos"><%= data[i].serialNumber %></td>
                        <td id="tr<%= i %>manufacturer"
                            class="hiddendeviceInfos"><%= data[i].manufacturer %></td>
                        <td id="tr<%= i %>note"
                            class="hiddendeviceInfos"><%= data[i].note %></td>
                        <td id="tr<%= i %>longitude"
                            class="hiddendeviceInfos"><%= data[i].longitude %></td>
                        <td id="tr<%= i %>latitude"
                            class="hiddendeviceInfos"><%= data[i].latitude %></td>
                        <td id="tr<%= i %>guarantee"
                            class="hiddendeviceInfos"><%= data[i].guarantee %></td>
                        <td id="tr<%= i %>technicalInspection"
                            class="hiddendeviceInfos"><%= data[i].lastTuev %></td>
                        <td id="tr<%= i %>accidentPrevention"
                            class="hiddendeviceInfos"><%= data[i].lastUvv %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>


        </div>
        <div class="deviceInformation">
            <div class="inputFields">
                <form class="box" action="/updateDevice" method="post"
                      id="updateDevice">
                    <h3>Geräteinformationen</h3>
                    <br>
                    <div class="box1">
                        <div class="deviceInfoWrapper box1">
                            <div class="deviceInfoBoxes">
                                <label for="inventarnummer" style="float: left">
                                    Inventarnummer: </label>
                                <div>
                                    <input class="form-control" form="updateDevice"
                                           type="text" value="Inventarnummer"
                                           id="invnumber" name="inventoryNumber">
                                </div>
                            </div>
                            <div class="deviceInfoBoxes">
                                <label for="manufacturer" style="float: left">
                                    Hersteller: </label>
                                <div>
                                    <input class="form-control" form="updateDevice"
                                           type="text" value="Herstellername"
                                           id="manufacturer" name="manufacturer" style="text-align: left">
                                </div>
                            </div>
                        </div>
                        <div class="deviceInfoWrapper box2">
                            <div class="deviceInfoBoxes">
                                <label for="category"> Kategorie: </label>
                                <div>
                                    <select class="browser-default custom-select form-control"
                                            id="category"
                                            onchange="getSelectedOption()"
                                            style="width: 100%; display: inline-block" name="beaconMajor">
                                        <option selected disabled>Kategorie</option>
                                        <option value="0001">Rüttelplatte</option>
                                        <option value="0002">Stampfer</option>
                                        <option value="0003">Motorflex</option>
                                        <option value="0004">Rohrgreifer</option>
                                        <option value="0005">Kettensäge</option>
                                        <option value="0006">Motorhammer</option>
                                        <option value="0007">Leiter</option>
                                        <option value="0008">Exoten</option>
                                    </select>
                                </div>
                            </div>
                            <div class="deviceInfoBoxes">
                                <div>
                                    <label
                                            for="model">Modell:</label>
                                    <input type="text" class="form-control"
                                           name="model"
                                           placeholder="Modell" id="model">
                                </div>
                            </div>
                        </div>
                        <div class="deviceInfoWrapper box3">
                            <div class="deviceInfoBoxes">
                                <label for="status"> Status:</label>
                                <div>
                                    <select class="browser-default custom-select form-control"
                                            id="status" onchange="getSelectedOption()"
                                            style="width: 100%; display:
                                    inline-block" name="deviceStatus">
                                        <option selected disabled>Status</option>
                                        <option value="1">Verfügbar</option>
                                        <option value="2">Ausgeliehen</option>
                                        <option value="3">In Wartung</option>
                                        <option value="4">Außer Betrieb</option>
                                        <option value="5">Defekt</option>
                                        <option value="6">Verschollen/Verschwunden</option>
                                        <option value="7">Gestohlen</option>
                                    </select>


                                </div>
                            </div>
                            <div class="deviceInfoBoxes">
                                <label for="serialNumber" style="float: left">
                                    Seriennummer: </label>
                                <div>
                                    <input class="form-control" form="updateDevice"
                                           type="text" value="Seriennummer"
                                           id="serialNumber" name="serialNumber">
                                </div>
                            </div>
                        </div>
                        <div class="deviceInfoWrapper box4">
                            <div class="deviceInfoBoxes">
                                <label for="guarantee"
                                       style="float: left">Garantie:</label>
                                <div>
                                    <input id="guarantee"
                                           name="guarantee"
                                           type="date"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="deviceInfoBoxes">
                                <label for="technicalInspection"
                                       style="float: left">TÜV:</label>
                                <div>
                                    <input id="technicalInspection"
                                           name="technicalInspection"
                                           type="date"
                                           class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="deviceInfoWrapper box5">
                            <div class="deviceInfoBoxes">
                                <label for="accidentPrevention"
                                       style="float: left">UVV:</label>
                                <div>
                                    <input id="accidentPrevention"
                                           name="accidentPrevention"
                                           type="date"
                                           class="form-control">
                                </div>
                            </div>
                            <div class="deviceInfoBoxes" style="width: 350px">
                                <label>Position</label>

                                <div>
                                    <div style="float: left;">

                                        <input id="longitude" class="form-control"
                                               type="text" value="52.52"
                                               style="width: 170px;" readonly>
                                    </div>
                                    <div style="float: right">

                                        <input id="latitude" class="form-control"
                                               type="text" value="7.32"
                                               style="width: 170px" readonly>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="deviceInfoWrapper box6">
                            <div class="deviceInfoBoxes">
                                <label for="note">Notiz</label>
                                <div>
                            <textarea class="form-control" name="note" id="note"
                                      placeholder="Notiz"
                                      rows="4"></textarea>
                                </div>
                            </div>
                            <div class="deviceInfoBoxes">
                                <label for="minor">Minor</label>
                                <input type="number" class="form-control"
                                       id="minor"
                                       name="beaconMinor">
                            </div>
                        </div>
                    </div>

                </form>
                <br>
                <hr>
                <div class="actionButton">

                    <% if (rights.edit_device === 1){ %>
                        <form class="btn-from" method="post" action="">
                            <div>
                                <p>
                                    <button type="submit"
                                            class="btn btn-outline-primary"
                                            onclick="">
                                        <!--                                    onclick="sendData()"-->
                                        Daten ändern
                                    </button>
                                </p>
                            </div>
                        </form>
                    <% } %>

                    <form class="btn-from" method="post" action="/historie" id="historie">
                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-info">Historie
                                        anzeigen
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <% if (rights.booking_device === 1){ %>
                        <form class="btn-from" method="post" action="/booking" id="booking">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-warning">Gerät
                                            reservieren
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>

                    <% } if (rights.delete_device === 1){ %>
                        <form class="btn-from" method="post" action="/deleteDevice" id="deleteDevice"
                              style="float: left">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-danger"
                                                onclick="deleteDeviceMessage()">Gerät
                                            löschen
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    <% } %>
                </div>
            </div>
            <br>
            <hr>
            <h4>Standort</h4>
            <br>
            <div id="map"></div>

        </div>

    </div>

</div>


<%- include('../Views/general/footer.ejs'); -%>
</body>
<style>
    td:nth-of-type(5) {
        display: none;
    }

    .deviceInfoBoxes {
        width: 350px;
    }


    div.toggle-inner {
        display: none;
    }

    div.toggle-inner.show {
        display: block !important;
    }
</style>
<script src="javascript/devicemanagement.js"></script>
<script>


    var acc = document.getElementsByClassName("toggle-title");
    var panel = document.getElementsByClassName('toggle-inner');

    for (var i = 0; i < acc.length; i++) {
        acc[i].onclick = function () {
            var setClasses = !this.classList.contains('active');
            setClass(acc, 'active', 'remove');
            setClass(panel, 'show', 'remove');

            if (setClasses) {
                this.classList.toggle("active");
                this.nextElementSibling.classList.toggle("show");
            }
        }
    }

    function setClass(els, className, fnName) {
        for (var i = 0; i < els.length; i++) {
            els[i].classList[fnName](className);
        }
    }

</script>
</html>